
<form method="POST" action="/celebrities/create" class="form" enctype="multipart/form-data">
    <h2>Celebrities</h2>
    <label for="name" class="label">Name</label>
    <input class="input" type="text" id="name" name="name">

    <label for="occupation" class="label">Occupation</label>
    <input class="input" type="text" id="occupation" name="occupation">

    <label for="catchPhrase" class="label">Catch Phrase</label>
    <input class="input" type="text" id="catchPhrase" name="catchPhrase">


    <button class="btn">Create</button>
</form>